@font-face{
    font-family: myFont;
    src: url('../Fonts/KOMTXTK.woff')
}

.my-nav{
    font-family: myFont;
    font-size: 30px;
    background-image: url('../Images/bg-header.jpg');
}

.nav-item a{
    color: whitesmoke;
}

.nav-item a:hover{
    font-weight: bolder;
    color: crimson;
}