@font-face{
    font-family: myFont;
    src: url('../Fonts/KOMTXTK.woff')
}

.footer{
    background-color: skyblue;
    height: 100px;
}

.row {
    background-color: black;
    font-family: myFont;
}

.row .list-group .list-group-flush{
    height: 100%;
}

/* .row .list-group-item{
    background-color: saddlebrown;
}

.list-group a{
    color: whitesmoke;
    font-size: 20px;
}

.list-group a:hover{
    text-decoration: none;
    color: saddlebrown;
    background-color: whitesmoke;
} */

.col-sm img{
    width: 300px;
    height: 200px;
    margin-top: 30px;
}

.col-sm p{
    margin: 0;
    padding-left: 115px;
}

.col-sm-2 ul{
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
    font-size: 20px;
    background-color: saddlebrown;
    height: 100%;
    overflow: auto;
}

.col-sm-2 ul li{
    padding: 20px 0 20px 0;
}

.col-sm-2 ul li a{
    color: whitesmoke;
}

.col-sm-2 ul li a:hover{
    text-decoration: none;
    color: black;
}

.col-sm a{
    color: whitesmoke;
}

.col-sm a:hover{
    text-decoration: none;
    color: rosybrown;
}