@font-face{
    font-family: myFont;
    src: url('../Fonts/KOMTXTK.woff')
}

.container-fluid{
    background-color: black;
    color: wheat;
}

.row{
    text-align: center;
}

.col{
    margin: 20px;
}

.col img{
    width: 300px;
    height: 200px;
}

.col a{
    font-family: myFont;
    font-size: 20px;
    text-align: center;
    color: wheat;
}

.col a:hover{
    text-decoration: none;
    color: sandybrown;
}