@font-face {
    font-family: myFirstFont;
    src: url('Fonts/KOMTXTK.woff'); 
}

div{
    font-family: myFirstFont;
    padding-left: 10px;
}

img{
    width: 100px;
    height: 100px;
    float: inline-end;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: black;
    color: white;
}

#container{
    display: flex;
    width: 300px;
    height: 200px;
    background-color: darkseagreen;
    flex-wrap: wrap;
}

.item{
    align-self: center;
}