/* @import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css"; */
.myStyle{
    margin: 0;
    width: 100%
}

.bp3-navbar{
    font-size: 30px;
}

.myNav{
    padding-left: 200px;
}

.myLogo{
    width: 50px;
    height: 50px
}

button{
    margin-left: 50px;
}