@font-face{
    font-family: myFont;
    src: url('../fonts/KOM/KOMTXTK.woff')
}

*{
    font-family: myFont;
}

.mynav{
    background-color: black;
    width: 100%;
}

.mycontainer{
    position: relative;
    width: 100%;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
}

    .navbar-expand .navbar-nav > li{
        padding: 0 20px 5px;
    }

    .navbar-expand .navbar-nav > li > a{
        color: whitesmoke;
        font-size: 30px;
    }

    .navbar-expand .navbar-nav > li > a:hover{
        color: lightblue;
        text-decoration: none;
        font-weight: bolder;
        color: crimson;
    }

.myfooter{
    background-color: skyblue;
    height: 100px;
}