.container-fluid{
    background-color: black;
    color: wheat;
}

.row p{
    margin: 10px;
}

.col{
    margin: 20px;
}

.col img{
    width: 300px;
    height: 200px;
}

.col a{
    font-size: 20px;
    /* text-align: center; */
    color: wheat;
}

.col p{
    padding-left: 115px;
}

.col a:hover{
    text-decoration: none;
    color: sandybrown;
}