.container-fluid{
    background-color: black;
    color: wheat;
}

.row{
    padding-left: 50px;
}

.col-sm{
    margin-top: 20px;
}

.col-sm img{
    width: 300px;
    height: 200px;
}

.col-sm a{
    font-size: 20px;
    /* text-align: center; */
    color: wheat;
}

.col-sm p{
    padding-left: 110px;
}

.col-sm a:hover{
    text-decoration: none;
    color: sandybrown;
}